# -*- mode: yaml -*-

nixpkgs: import ./nixpkgs.nix
python: pkgs.pythonFull
pythonPackages: pkgs.pythonPackages

requirements:
  inputs:
    - requirements.open
    - requirements.dev
  output: requirements.nix
  packages:
    - vcversioner==2.16.0.0
    - requests==2.12.5

build_inputs:
  cryptography:
    - openssl
  cffi:
    - libffi
  pyyaml:
    - libyaml
  ruamel.yaml:
    - libyaml

setup_requires:
  cryptography:
    - packaging
  cmd2:
    - six
    - pyparsing
  debtcollector:
    - six
  jsonschema:
    - vcversioner
  oslo.i18n:
    - six
  python-swiftclient:
    - six
  oslo.utils:
    - pyparsing
  stevedore:
    - six
  os-client-config:
    - appdirs
  warlock:
    - six
  munch:
    - six
  python-dateutil:
    - six
  tox:
    - vcversioner
